{% extends "app/admin/base.html" %}

{% block content %}

  <!-- HEADER -->
  <header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Post One</h1>
        </div>
      </div>
    </div>
  </header>

  <!-- ACTIONS -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="index.html" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i> Back To Dashboard
          </a>
        </div>
        
      </div>
    </div>
  </section>

  <!-- DETAILS -->
  <section id="details">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Edit Post</h4>
            </div>
            <div class="card-body">
              {% if key1 %}
              <form action="{% url 'udpatepost' pk=key1.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" name="title"  value="{{key1.Title}}">
                </div>
                <div class="form-group">
                  <label for="category">Category</label>
                  {% if all_cat %}
                  <select class="form-control" name="category" id="postCategory">
                    <option selected="selected">Choose One...</option>
                    <option selected="selected">{{key1.cat_id.c_name}}</option>
                    {% for i in all_cat %}
                    <option value="{{i.id}}">{{i.c_name}}</option>
                    {% endfor %}
                  </select>
                  {% endif %}
                </div>
                <div class="form-group">
                  <label for="title">keyword</label>
                  <input type="text" name="keyword" class="form-control" id="postTitle" value="{{key1.keyword}}">
                </div>
                
                <div class="form-group">
                  <label for="title">author</label>
                  <input type="text" name="author" class="form-control" id="postTitle" value="{{key1.author}}">
                </div>
                <div class="form-group">
                  <label for="title">Recent author Image</label>
                  <img src="{{MEDIA_URL}}{{key1.authorimg.url}}" alt="" srcset="" width="150px" height="150px">
                </div>
                <div class="form-group">
                  <label for="title">author img</label>
                  <input type="file" name="authorimg" class="form-control" id="postTitle">
                  <small class="form-text text-muted">Max Size 3Mb</small>
                </div>
                <div class="form-group">
                  <label for="title">Recent Blog Image</label>
                  <img src="{{MEDIA_URL}}{{key1.image.url}}" alt="" srcset="" width="150px" height="150px">
                </div>
                <div class="form-group">
                  <label for="image">Upload Image</label>
                  <div class="form-group">
                    
                    <input type="file" name="image" class="form-control" id="postTitle">
                    <small class="form-text text-muted">Use image size 1080x1080</small>
                  </div>
                  <div class="form-group">
                    <label for="title">shortcontent </label>
                    <textarea class="form-control" name="shortcontent" id="" cols="30" rows="5" value="{{key1.shortcontent}}">{{key1.shortcontent}}</textarea>
                    
                  </div>
                  <div class="form-group">
                    <label for="body">Body</label>
                    <textarea name="editor1"
                      class="form-control" value="{{key1.content}}">{{key1.content}}</textarea>
                  </div>
                </div>
                <div class="col-md-3">
                  <button class="btn btn-success btn-block" type="submit"> <i class="fas fa-check"></i> Save Changes</button>
                  
                </div>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <!-- MODALS -->


  
{% endblock %}

