
{% extends 'app/base.html' %}
{% load static %}
{% block content %}
       <!--Page Title-->
        <section class="page-title centred bg-color-1">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url({% static '/app/assets/images/shape/shape-70.png' %});"></div>
                <div class="pattern-2" style="background-image: url({% static '/app/assets/images/shape/shape-71.png' %});"></div>
            </div>
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>What is Ayurveda?</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>What is ayurveda?</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!-- about-section -->
       
        <section class="about-section">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_1">
                            <div class="image-box">
                                <div class="pattern">
                                    <div class="pattern-1" style="background-image: url({% static '/app/assets/images/shape/shape-15.png' %});"></div>
                                    <div class="pattern-2"></div>
                                    <div class="pattern-3" style="background-image: url({% static '/app/assets/images/shape/shape-16.png' %});"></div>
                                </div>
                                <figure class="image clearfix"><img src="{% static '/img_new/item5.jpg' %}" alt=""></figure>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_1" style="overflow-y: auto;
                        height: 100vh;">
                            <div class="content-box">
                                <div class="sec-title">
                                    
                                    <h2>A Beginner’s Guide to the World of Ayurveda</h2>
                                    <p><b>What is Ayurveda?</b></p>
                                    <p><b>Why is it becoming popular across the globe?</b></p>
                                    <p><b>Why is it referred to as “The Science of Life?</b></p>
                                </div>
                                <div class="text">
                                    <p>If you are new to the world of Ayurveda, it is quite obvious for you to have such questions. <br><br>
                                        Well, let’s understand the concept of Ayurveda step-by-step. <br>
                                        One of the most eminent contributors, popularly known as <b>“Father of Medicine”</b> in India- <b>Charaka</b>, described Ayurveda as - <br><br>
                                        <b>“Life (Ayu) is the combination (Samyoga) of body, senses, mind and reincarnating soul. Ayurveda is the most sacred science of life, beneficial to humans both in this world and the world beyond.”</b><br>
                                        It implies that unlike the other healing systems that are limited to human’s body, Ayurveda holds the power to heal one’s body, mind, soul, and beyond! With a rich history of existence, more than 3000 years ago, Ayurveda is believed to be the oldest and the most effective holistic healing systems.
                                        </p>
                                       
                                </div>
                                <div class="sec-title">
                                    <p><b>Ayurveda: Connecting the Dots of Mind, Body & Soul</b></p>
                                </div>
                                <div class="text">
                                    <p>Encircling my previous point – the concept of Ayurveda states that human’s mind, body and soul are connected. <br><br>
                                        No matter what <b>country, age, race one belongs to!</b> <br><br>
                                        Most importantly, it states that a person can’t acquire any kind of disease unless the trio of mind-body-soul balance catches up with some disturbance. Materialistically speaking, Ayurveda says that the human body is made up of five elements– <b>air, earth, fire, water, and space. </b> <br><br>
                                        And to stay in perfect health – a person just needs to balance the five major elements. <br><br>
                                        </p>
                                </div>
                                <div class="sec-title">
                                    <p><b>Vata, Pitta, and Kapha – Three Major Imbalances or Doshas</b></p>
                                </div>
                                <div class="text">
                                    <p>
                                        Due to sedentary lifestyle and mental stress, it seems impossible to stay in good health. Based on the five body elements, Ayurveda describes a total of three types of <b>imbalances (Doshas – Sanskrit term)</b> that may occur when the following combination occurs-
                                        <b>#1: Vata Dosha</b>
                                        It occurs due to the imbalance between <b>space & air </b>elements.
                                        It may cause diseases such as – breathing issues, anxiety, fast or irregular heartbeat, severe heart diseases, and much more.
                                        When the balance is maintained, a person may feel happy, confident, and creative.
                                        <b>#2: Pitta Dosha</b>
                                        It occurs due to the imbalance between <b>fire & water</b> element.
                                        It may cause diseases such as –digestion, metabolism-related issues, food absorption problems, heart disease, and much more.
                                        When the balance is maintained, a person may feel calm and composed.
                                        <b>#3: Kapha Dosha</b>
                                        It occurs due to the imbalance between <b>earth & water</b> elements.
                                        It may cause diseases such as –joint pain, dry skin issues, lower immunity, asthma, and much more.
                                        When balance is maintained, a person experiences happiness and calmness of mind & body.
                                    </p>
                                    <div class="sec-title">
                                        <p><b>What Ayurvedic Treatment Can Help in Balancing the Elements?</b></p>
                                    </div>
                                    <div class="text">
                                        <p>
                                            Well, just like a single medicine doesn’t work for every disease, there’s no specific <b>Ayurvedic treatment</b> that works for all.
                                            A person who’s suffering from any of the Doshas must consult an experienced Ayurvedic practitioner for proper diagnosis. Popular Ayurvedic treatments such as <b>“Panchkarma”</b> that include full body massage with oils and mud & relaxation may help in reducing the problems to a large extent. Additionally, one may ask the Ayurvedic practitioner for plant based medicines & healthy lifestyle changes that could help ease the adverse symptoms.
                                        </p>

                                    </div>
                                    <div class="sec-title">
                                        <p><b>To Sum Up</b></p>
                                    </div>    
                                    <div class="text">
                                        <p>
                                            Ayurveda encourages a person to live a healthy life.
                                            It doesn’t <b>“control”</b> the symptoms; rather it focuses on <b>“curing”</b> the symptoms of diseases.
                                            No wonder why Ayurveda is also referred to as - <b>“The Science of Life”.</b>
                                            <b>For more such interesting information on Ayurveda, keep reading our blogs!</b>
                                            
                                        </p>

                                    </div>

                                    

                                </div>
                                <ul class="list-style-one clearfix">
                                    <li>Associates Insurance</li>
                                    <li>Pina & Insurance</li>
                                </ul>
                                <div class="btn-box"><a href="about.html" class="theme-btn-one">About Us<i class="icon-Arrow-Right"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->

{% endblock %}